name: Cache Demo

on:
  push:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/demo
          key: cache-9783096

      - name: prime-cache-9783096
        run: |
          echo "Cache hit: ${{ steps.cache-step.outputs.cache-hit }}"
